<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create New Flashcard Set</title>
</head>
<body>
<h1>Create a New Flashcard Set</h1>
<form>
    <div>
        <label for="title">Title:</label>
        <input type="text" id="title" name="title">
    </div>
    <div>
        <label for="description">Description:</label>
        <textarea id="description" name="description"></textarea>
    </div>
    <hr>
    <button type="submit">Create Set</button>
</form>
</body>
</html>
