<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Edit Set</title>
  <style>
    .card-row { margin-bottom: 10px; display: flex; gap: 10px; }
    input[type="text"] { padding: 5px; flex: 1; }
  </style>
</head>
<body>
<h1>Edit Set</h1>

<form th:action="@{/sets/{id}/edit(id=${flashcardSet.id})}" th:object="${flashcardSet}" method="post">

  <div>
    <label>Title:</label>
    <input type="text" th:field="*{title}" required>
  </div>
  <br>
  <div>
    <label>Description:</label>
    <input type="text" th:field="*{description}">
  </div>
  <hr>

  <h3>Cards</h3>
  <div id="card-container">
    <div th:each="card, stat : *{cards}" class="card-row" th:id="'row-' + ${stat.index}">
      <input type="hidden" th:field="*{cards[__${stat.index}__].id}">
      <input type="text" th:field="*{cards[__${stat.index}__].front}" placeholder="Front" required>
      <input type="text" th:field="*{cards[__${stat.index}__].back}" placeholder="Back" required>

      <button type="button" class="btn-remove" th:onclick="'markForDelete(' + ${stat.index} + ', ' + *{cards[__${stat.index}__].id} + ')'">X</button>
    </div>
  </div>

  <div id="delete-container"></div>

  <button type="button" onclick="addCard()">Add New Card</button>

  <br>
  <button type="submit">Save All Changes</button>
  <a th:href="@{/sets/{id}(id=${flashcardSet.id})}">Cancel</a>
</form>

  <script th:inline="javascript">

    let cardIndex = /*[[${flashcardSet.cards.size()}]]*/ 0;

    function markForDelete(rowIndex, cardId) {
      document.getElementById('row-' + rowIndex).style.display = 'none';

      const deleteContainer = document.getElementById('delete-container');
      const input = document.createElement('input');
      input.type = 'hidden';
      input.name = 'idsToDelete';
      input.value = cardId;
      deleteContainer.appendChild(input);
    }

    function addCard() {
    const container = document.getElementById('card-container');
    const newRow = document.createElement('div');
    newRow.className = 'card-row';

    newRow.innerHTML = `
        <input type="text" name="cards[${cardIndex}].front" placeholder="Front" required>
        <input type="text" name="cards[${cardIndex}].back" placeholder="Back" required>
        <button type="button" class="btn-remove" onclick="this.parentElement.remove()">X</button>
    `;

    container.appendChild(newRow);
    cardIndex++;
    }
  </script>

</body>
</html>