<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flashcard</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="container">
    <h1>Flashcard</h1>
    <a th:href="@{/sets/create}">Create New Set</a>
    <hr>
    <h2>My Flashcard Sets</h2>
    <div th:if="${#lists.isEmpty(flashcardSets)}">
        <p>No sets created yet</p>
    </div>
    <ul th:unless="${#lists.isEmpty(flashcardSets)}">
        <li th:each="set : ${flashcardSets}">
            <h3 th:text="${set.title}">Set Title</h3>
            <p th:text="${set.description}">Set Description</p>
            <a th:href="@{/sets/{id}(id=${set.id})}">View Set</a>
        </li>
    </ul>


</div>
</body>
</html>
